.allContainer{
    width: 100dvw;
    height: 100dvh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.cajitaArriba{
    width: 100dvw;
    height: 6em;
    display: flex;
    position: relative;
    bottom: 1em;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.cajitaAbajo{
    width: 100dvw;
    height: 6em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 10%;
    padding-right: 10%;
}

.cajita{
    height: 6em;
    width: 15vw;
}

.cajita1{
    height: 50%;
    background-color: #aee6d9;
    position: relative;
    animation: animation 6s ease-in-out 2s infinite
}

.cajita2{
    height: 100%;
    background-color: #7974e5;
    position: relative;
    animation: animation 4s ease-in-out 2s infinite
}

.cajita3{
    height: 90%;
    background-color: #74b6e5;
    position: relative;
    animation: animation 3s ease-in-out 2s infinite
}

.cajita4{
    height: 60%;
    background-color: #74b6e5;
    position: relative;
    animation: animation 2s ease-in-out 2s infinite
}

.cajita5{
    height: 70%;
    background-color: #75dae6;
    position: relative;
    animation: animation 5s ease-in-out 2s infinite
}

.options{
    display: flex;
    width: fit-content;
    height: fit-content;
    position: relative;
    box-shadow: 0px 0px 26px 7px rgba(235,235,235,1);
    border-radius: 20px;
    animation: scale 1s ease-in-out 2s infinite
}

.slider{
    border-radius: 20px;
    width: 50%;
    position: absolute;
    z-index: 1;
    height: 100%;
    background: linear-gradient(to right bottom, #cdffd8, #aaf7e0, #89edec, #74e1f7, #72d2ff, #70c6ff, #78b8ff, #88a9fb, #819cf7, #7d8ff2, #7a82ec, #7974e5);
    transition: all 0.4s ease-in-out;
}

.button{
   border: none;
   background-color: transparent;
   transition: all 2s ease-in-out;
   width: 15em;
   padding: 1em;
   border-radius: 20px;
   z-index: 2;
   color: #322c39;
   font-size: 1em;
   font-weight: 200;
   
}

.submit{
    border: none;
    background-color: transparent;
    height: 3.5em;
    width: 45%;
    box-shadow: 0px 2px 0px 4px #7a74e588;
    place-self: center;
    border-radius: 20px;
    font-weight: 200;
    transition: all 0.2s ease-in-out;
}

.submit:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.submit:active{
    transform: scale(0.9);
    cursor: pointer;
}

@keyframes animation {
    0% {top: 0;}
    50% {top: 1em;}
    100% {top: 0;}
  }


@keyframes scale {
    0% {transform: scale(1);}
    50% {transform: scale(1.01);}
    100% {transform: scale(1);}
  }

  @media screen and (max-width: 650px){
    .button{

        width: 12em;
        
     }
}
