@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
.headerH1{
    color: rgb(121, 116, 229);
    font-family: 'Rowdies',sans-serif;
    font-size: 100px;
    text-shadow: 4px 4px 2px rgba(141,137,225,0.6);
    animation: tituloAnimacion 5s ease-in-out 2s infinite
}

.options{
    display: flex;
    
}
.cuadro{
    border: none;
    height: 2em;
    border-bottom: 2px solid #74b6e5;
    color: #322c39;
    font-family: 'Rowdies',sans-serif;
    font-weight: 300;
    font-size: 1.5em;
}

.cuadro:focus{
    outline: none;
}

.cuadro::placeholder{
    color: #322c3975;
    font-family: 'Rowdies',sans-serif;
    font-weight: 300;
    font-size: 1em;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 2em;
    place-content: center;
    place-items: center;
}
.forms{
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: fit-content;
    width: 100%;
}

@keyframes tituloAnimacion {
    0% {
        transform: rotate(3deg);
    }
    50% {transform: rotate(-3deg)}
    100% {
        transform: rotate(3deg);
    }
}

@media screen and (max-width: 650px){
    .headerH1{
        font-size: 40px;
    }
    .main{
        width: 100dvw;

    }
}
