@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
.headerH1{
    color: rgb(121, 116, 229);
    font-family: 'Rowdies',sans-serif;
    font-size: 100px;
    text-shadow: 4px 4px 2px rgba(141,137,225,0.6);
    animation: tituloAnimacion 5s ease-in-out 2s infinite
}

.options{
    display: flex;
    
}
.cuadro{
    border: none;
    height: 2em;
    border-bottom: 2px solid #74b6e5;
    color: #322c39;
    font-family: 'Rowdies',sans-serif;
    font-weight: 300;
    font-size: 1.5em;
}

.cuadro:focus{
    outline: none;
}

.cuadro::placeholder{
    color: #322c3975;
    font-family: 'Rowdies',sans-serif;
    font-weight: 300;
    font-size: 1em;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 2em;
    place-content: center;
    place-items: center;
}

@keyframes tituloAnimacion {
    0% {
        transform: rotate(3deg);
    }
    50% {transform: rotate(-3deg)}
    100% {
        transform: rotate(3deg);
    }
}


.allContainer{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.cajitaArriba{
    width: 100vw;
    height: 6em;
    display: flex;
    position: relative;
    bottom: 1em;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.cajitaAbajo{
    width: 100vw;
    height: 6em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 10%;
    padding-right: 10%;
}

.cajita{
    height: 6em;
    width: 15vw;
}

.cajita1{
    height: 50%;
    background-color: #aee6d9;
    position: relative;
    animation: animation 6s ease-in-out 2s infinite
}

.cajita2{
    height: 100%;
    background-color: #7974e5;
    position: relative;
    animation: animation 4s ease-in-out 2s infinite
}

.cajita3{
    height: 90%;
    background-color: #74b6e5;
    position: relative;
    animation: animation 3s ease-in-out 2s infinite
}

.cajita4{
    height: 60%;
    background-color: #74b6e5;
    position: relative;
    animation: animation 2s ease-in-out 2s infinite
}

.cajita5{
    height: 70%;
    background-color: #75dae6;
    position: relative;
    animation: animation 5s ease-in-out 2s infinite
}


.play{
    border: none;
    background-color: transparent;
    height: 3em;
    width: 75%;
    box-shadow: 0px 2px 0px 4px #7a74e588;
    place-self: center;
    border-radius: 20px;
    font-weight: 200;
    transition: all 0.2s ease-in-out;
    font-size: 2em;
    color: #000;
    text-decoration: none;
}

.play *{
    color: #000;
    text-decoration: none;
}

.play:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.play:active{
    transform: scale(0.9);
    cursor: pointer;
}

.tableWrapper {
    height: fit-content;
    max-height: 40vh;
    width: 100%; /* Adjust this value as needed */
    overflow-y: auto;
    box-shadow: 5px 5px 1px 4px #7a74e563;
    border-radius: 11px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 11px;
    
}

.tableHead {
    position: sticky;
    top: 0;
    background-color: #7974e5;
    color: white;
    font-weight: 200;

}

.tableHead *{
    color: white;
    font-weight: 200;
    border: 1px solid black; /* Adds borders to cells */
    padding: 8px;

}

.tableBody {
    border-radius: 11px;
    text-align: center;
}

.tableBody * {
    border: 1px solid black; /* Adds borders to cells */
    padding: 8px;
}


@keyframes animation {
    0% {top: 0;}
    50% {top: 1em;}
    100% {top: 0;}
  }


@keyframes scale {
    0% {transform: scale(1);}
    50% {transform: scale(1.01);}
    100% {transform: scale(1);}
  }

  
  @media screen and (max-width: 650px){
    .headerH1{
        font-size: 50px;
    }
}